*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    background-image: url(https://www.wallpapertip.com/wmimgs/83-838362_web-developer.jpg);
}
.container{
    padding: 60px 10%;
}
.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
    transition: background 0.5s;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: green;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: green;
    transition: 0.5s;
}

.content{
    position: absolute;
    top: 65%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: rgb(74, 197, 74);
    letter-spacing: 2px;
    font-size: 20px;
}
/*--------------about----------- */
#aboutme{
    text-align: justify;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    height: 100%;
    border-radius: 15%;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: green;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: green;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    margin: 10px 0;
    font-size: 17px;
}
.tab-contents ul li span{
    color: rgb(76, 163, 76);
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.skill-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    color: green;
}
.skill-cards:hover{
    border-radius: 1rem solid;
    transform: scale(1.05);
    border-radius: 15px;
    color: white;
}
.skill-cards .fa-brands{
    font-size: 5rem;
}

.skill-cards h3{
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 10px;
    color: white;
}





.quote-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.quote {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 450px;
}
.quote img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: rgba(30, 139, 30, 0.7);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    font-style: italic;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.quote:hover{
    transform: scale(1.1);
}
.quote:hover .layer{
    height: 100%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: green;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: rgb(30, 139, 30);
    transform: translateY(-5px);
}
.btn{
    display: inline-block;
    margin: 50px auto;
    border: 1px solid rgb(30, 139, 30);
    padding: 14px 50px;
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background: black;
    transition: background 0.5s;
}
.btn:hover{
    background:rgb(30, 139, 30);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    bottom: 0;
    outline: none;
    background: black;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    border-color: green;
}